.sgb-marianne {
  width: 130px;
  min-width: 130px;
  max-width: 130px;
  height: 65px;
  background-color: $white;
  background-image: url($sgb-images-path+"/marianne.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.navbar.sgb-navbar-marianne {
  padding: 0;
}

.navbar.sgb-navbar-marianne .navbar-brand {
  margin-left: .3em;
  font-size: 1.6em;
}

.navbar.sgb-navbar-marianne .navbar-baseline {
  font-size: .6em;
}
