//

@import "bootstrap/scss/functions";
@import "core/src/_variables.scss";
@import "bootstrap/scss/mixins";
@import "variables";

//

.sgb-docs-navbar {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05),
    inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  min-height: $sgb-docs-navbar-height;

  @include media-breakpoint-up(md) {
    @supports (position: sticky) {
      position: sticky;
      top: 0;
      z-index: 1000;
    }
  }
}
