//

@import "bootstrap/scss/functions";
@import "core/src/_variables.scss";
@import "bootstrap/scss/mixins";
@import "variables";

//

.dgb-toc {
  @supports (position: sticky) {
    $top: $dbg-docs-navbar-height + 3rem;
    position: sticky;
    top: $top;
    height: calc(100vh - #{$top});
    overflow-y: auto;
  }

  > nav {
    padding-left: 0;
    border-left: 1px solid $gray-200;

    ul{
      padding: 0;
    }


  }

  li {
    display: block;

    > a {
      display: block;
      padding: 0.125rem 1.5rem;
      color: $gray-600;

      &:hover {
        color: $blue;
        color: var(--blue);
        text-decoration: none;
      }
    }

    > ul {
      padding-left: map-get($spacers, 3);
    }
  }
}
